.auth-card {
  max-width: 400px;
  margin: 7rem auto 0 auto;
  padding: 2rem;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.11);
}
.error-msg {
  color: #e53935;
  margin: 0.5rem 0;
}
.switch-auth {
  margin-top: 1.4rem;
  text-align: right;
}
a {
  color: #e91e63;
  text-decoration: underline;
  cursor: pointer;
}
